<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>欢迎页面-X-admin2.2</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" href="/web/component/layui/css/layui.css" th:href="@{/web/component/layui/css/layui.css}"  media="all">
        <script type="text/javascript" src="/web/component/js/jquery-3.3.1.min.js" th:src="@{/web/component/js/jquery-3.3.1.min.js}"></script>
        <script src="/web/component/layui/layui.js" th:src="@{/web/component/layui/layui.js}" ></script>
        <link rel="stylesheet" href="/web/admin/css/admin.css" th:href="@{/web/admin/css/admin.css}" media="all">
    </head>
    <body>
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-sm12">
                <div class="layui-row layui-col-space15" >
                    <div class="layui-col-md6" style="text-align: center ;width: 710px">
                        <div class="layui-card">
                            <div class="layui-card-header" > 公告</div>
                            <div class="layui-card-body">
                                <table id="demo" lay-filter="test" STYLE=" width: 92px " ></table>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md6" style="text-align: center ;width: 715px">
                        <div class="layui-card">
                            <div class="layui-card-header">待办事项</div>
                            <div class="layui-card-body">
                                <table id="demo1" lay-filter="test" STYLE=" width: 92px " ></table>
                            </div>
                            <div>
                                <button>下载</button>
                            </div>
                        </div>

                    </div>
                    <div class="layui-col-md12" >
                        <div class="layui-card">
                            <div class="layui-card-header">数据概览</div>
                            <div class="layui-card-body">
                                <table id="demo2" lay-filter="test" STYLE=" width: 92px " ></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>

        </div>
    </div>

    <script>
        layui.use('table', function(){
            var table = layui.table;

            var is=[{id:"se",sd:"dsf",sex:"asf",city:"asdf",sign:"sdf",experience:"dsa",score:"sdaf",classify:"fdsg",wealth:"dsfdsa"}]

            //第一个实例
            table.render({
                elem: '#demo'
                ,height: 312
                ,date:is //数据接口
                ,page: true //开启分页
                ,cols: [[ //表头
                    {title: '内容',   fixed: 'left' ,}
                ]]
            });

            table.render({
                elem: '#demo1'
                ,height: 312
                ,url: '/demo/table/user/' //数据接口
                ,page: true //开启分页
                ,cols: [[ //表头
                    {field: 'id', title: 'ID', width:80, sort: true, fixed: 'left'}
                    ,{field: 'username', title: '用户名', width:80}
                    ,{field: 'sex', title: '性别', width:80, sort: true}
                    ,{field: 'city', title: '城市', width:80}
                    ,{field: 'sign', title: '签名', width: 177}
                    ,{field: 'experience', title: '积分', width: 80, sort: true}
                    ,{field: 'score', title: '评分', width: 80, sort: true}
                    ,{field: 'classify', title: '职业', width: 80}
                    ,{field: 'wealth', title: '财富', width: 135, sort: true}
                ]]
            });

            table.render({
                elem: '#demo2'
                ,height: 312
                ,url: '/demo/table/user/' //数据接口
                ,page: true //开启分页
                ,cols: [[ //表头
                    {field: 'id', title: 'ID', width:80, sort: true, fixed: 'left'}
                    ,{field: 'username', title: '用户名', width:80}
                    ,{field: 'sex', title: '性别', width:80, sort: true}
                    ,{field: 'city', title: '城市', width:80}
                    ,{field: 'sign', title: '签名', width: 177}
                    ,{field: 'experience', title: '积分', width: 80, sort: true}
                    ,{field: 'score', title: '评分', width: 80, sort: true}
                    ,{field: 'classify', title: '职业', width: 80}
                    ,{field: 'wealth', title: '财富', width: 135, sort: true}
                ]]
            });
        });
    </script>
    </body>
</html>