<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>客户列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/web/component/layui/css/layui.css" media="all">
    <script src="/web/component/layui/layui.js"></script>
    <script type="text/javascript" src="/web/component/js/jquery-3.3.1.min.js" th:src="@{/web/component/js/jquery-3.3.1.min.js}"></script>
    <script>
        layui.use(['table'], function(){
            var table = layui.table;

            table.render({
                elem: '#demo'
                ,toolbar: '#toolbarDemo'
                ,height: 'full-20'
                ,url: '/Client/' //数据接口
                ,cols: [
                    [ //表头
                        {type: 'radio', fixed: 'left'}
                        ,{field: 'cid', title: '编号', sort: true, width:90}
                        ,{field: 'name', title: '客户名称', sort: true, width:120}
                        ,{field: 'address', title: '地址', sort: true,  width:120}
                        ,{field: 'phone', title: '电话',  width:120}
                        ,{field: 'invoice', title: '发票资料',   width:120}
                        ,{field: 'invoiceAddress', title: '收发票地址',  width:120}
                        ,{field: 'remark', title: '备注', width:120}
                    ]
                ]});

            //监听表头
            table.on('toolbar(test)',function (obj) {
                var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
                if(layEvent === 'import'){
                    layer.open({
                        area: ['450px', '500px'],
                        type: 2,
                        title:'添加客户',
                        content: 'addClient.html' //这里content是一个普通的String
                        ,end:function () {
                            table.reload('demo', {
                                url: '/Client/'
                            });
                        }
                    });
                }else if(layEvent === 'upd'){
                    var checkStatus = table.checkStatus(obj.config.id); //获取选中行状态
                    var data = checkStatus.data;
                    if(data.length==0){
                        layer.msg('请选择一行');
                        return;
                    }
                    layer.open({
                        area: ['450px', '500px'],
                        type: 2,
                        title:'修改客户',
                        content: 'updClient.html?cid='+data[0].cid  //这里content是一个普通的String
                        ,end:function () {
                            table.reload('demo', {
                                url: '/Client/'
                                ,done:function (response) {
                                    lay('.time').each(function(){
                                        laydate.render({
                                            elem: this
                                            ,trigger: 'click'
                                        });
                                    });
                                }
                            });
                        }
                    });
                }else if(layEvent === 'del'){ //编辑
                    var checkStatus = table.checkStatus(obj.config.id); //获取选中行状态
                    var data = checkStatus.data;
                    if(data.length==0){
                        layer.msg('请选择一行');
                        return;
                    }
                    layer.confirm('确认删除？', function(index){
                        $.post("/Client/",{cid:data[0].cid,_method:"DELETE"},function (data) {
                            if(data==1){
                                layer.msg('已删除！！！', {
                                    icon: 1,
                                    time: 2000 //1秒关闭（如果不配置，默认是3秒）
                                })
                                table.reload('demo', {
                                    url: '/Client/',
                                    done:function (response) {
                                        lay('.time').each(function(){
                                            laydate.render({
                                                elem: this
                                                ,trigger: 'click'
                                            });
                                        });
                                    }
                                });
                            }else{
                                layer.msg('删除失败！！！', {
                                    time: 1000 //1秒关闭（如果不配置，默认是3秒）
                                })
                            }
                        });
                        layer.close(index);
                    });
                }
            });
        });
    </script>
    <script type="text/html" id="toolbarDemo">
        <button type="button" class="layui-btn layui-btn-normal" lay-event="import" id="test1">添加</button>
        <button type="button" class="layui-btn layui-btn-normal" lay-event="upd" >修改</button>
        <button type="button" class="layui-btn layui-btn-normal" lay-event="del" >删除</button>
    </script>
</head>
<body>
    <table id="demo" lay-filter="test"></table>
</body>
</html>