<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/web/component/layui/css/layui.css" th:src="@{/web/component/layui/css/layui.css}"  media="all">
    <script type="text/javascript" src="/web/component/js/jquery-3.3.1.min.js" th:src="@{/web/component/js/jquery-3.3.1.min.js}"></script>
    <script src="/web/component/layui/layui.js" th:src="@{/web/component/layui/layui.js}" ></script>
    <script type="text/javascript" >
        layui.use(["form","table","layer","upload"], function() {
            var table = layui.table;
            var form = layui.form;
            var layer = layui.layer;
            var upload = layui.upload;

            upload.render({
                elem: ".files"//绑定元素
                ,url: '/Commodity/pictures.do' //上传接口
                //,accept: 'images'
                ,done: function(res){
                    layer.msg(res);
                    layer.msg('导入成功!');
                    if(res == "1"){
                    }
                }
                , error: function (res) {
                    //请求异常回调yhis
                    layer.msg('导入失败!请重新导入');
                }
            });

            table.render({
                elem: '#demo'
                , url: '/Commodity/Commoditys.do' //数据接口
                ,height:'full-20'
                ,page:true
                ,limit:20
                ,toolbar: '#toolbarDemo'
                ,defaultToolbar:["filter"]
                ,limits:[20,30,50]
                , cols: [
                    [ //表头
                        {field: 'sid', title: '商品编号' ,width:95}
                        ,{field: 'userName', title: '业务员名称',width:110}
                        , {field: 'name', title: '产品名称' ,width:90}
                        , {field: 'cas', title: 'cas号', width:90}
                        , {field: 'createTime', title: '日期', width:180}
                        , {field: 'updateTime', title: '更新日期', width:180}
                        , {field: 'priceInfo', title: '报价信息',width:150}
                        ,{field:'imgPath',title:'图片预览',templet:"#img"}
                        ,{field:"",title:'操作',toolbar:'#barDemo', width: 400}
                    ]
                ]
                ,done: function (response) {
                    //定位当前table视图
                    var tableView = this.elem.next();
                    $.each(response.data, function (index, item) {
                        //逻辑判断
                        if (item.amount > 0) {
                            //改变TR标签内字体颜色
                            tableView.find('tbody tr[data-index="' + index + '"]').css('background-color', '#33a1c9');
                            tableView.find('tbody tr[data-index="' + index + '"]').css('color', '#F0F0F0');
                        }else if(item.amount == 0){//
                            //改变TR标签内字体颜色
                            tableView.find('tbody tr[data-index="' + index + '"]').css('background-color', '#1E9FFF');
                            tableView.find('tbody tr[data-index="' + index + '"]').css('color', '#F0F0F0');
                        }else if(item.amount === null ){//00009C
                            tableView.find('tbody tr[data-index="' + index + '"]').addClass("layui-bg-cyan ");
                            tableView.find('tbody tr[data-index="' + index + '"]').css('color', '#F0F0F0');
                        }
                    })
                }
            })

            //监听行工具
            table.on('tool(test)',function (obj) {
                var data = obj.data; //获得当前行数据
                var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）

                if(layEvent === 'detail'){
                    console.log(data);
                    layer.open({
                        type: 2,
                        //offset: 'auto',、
                        skin: 'layui-layer-rim',
                        area: ['314px', '300px'],
                        content: '/web/view/commoditySupplier.html?supplierId='+data.supplierId, //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']
                        end:function () {
                            table.reload('demo', {
                                url: '/Commodity/Commoditys.do'
                            });
                        }
                    });
                }else if(layEvent == "test"){
                    upload.render({
                        elem: ".demoMore"//绑定元素
                        ,url: '/Commodity/pictures.do' //上传接口
                        ,data: {sid:obj.data.sid}
                        ,accept: 'images'
                        ,auto: true
                        ,method:"get"
                        ,before:function(obj){
                            //预读本地文件示例，不支持ie8
                            obj.preview(function(index, file, result){
                                $('#demo1').attr('src', result); //图片链接（base64）
                            });
                        }
                        ,done: function(res){
                            layer.msg(res);
                            if(res == "1"){
                                layer.msg('导入成功!');
                            }
                        }
                        , error: function (res) {
                             //请求异常回调
                            layer.msg('导入失败!请重新导入');
                         }
                    });
                    //执行实例
                   // console.log(obj.data.sid);

                }else if (layEvent == "edit"){
                    layer.open({
                        type: 2,
                        //offset: 'auto',、
                        skin: 'layui-layer-rim',
                        area: ['314px', '300px'],
                        content: '/web/view/commodityEdit.html?sid='+data.sid, //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']
                        end:function () {
                            table.reload('demo', {
                                url: '/Commodity/Commoditys.do'
                            });
                        }
                    });
                }

            })

            //监听表头
            table.on('toolbar(test)',function (obj) {
                var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
                if(layEvent === 'add'){
                    layer.open({
                        type: 2,
                        //offset: 'auto',、
                        skin: 'layui-layer-rim',
                        area: ['314px', '450px'],
                        content: '/web/view/commodityAdd.html', //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']
                        end:function () {
                            table.reload('demo', {
                                url: '/Commodity/Commoditys.do'
                            });
                        }
                    });
                }
            })

            //监听表单
            form.on('submit(formDemo)', function(data){
                table.reload('demo', {
                    url: '/Commodity/Commoditys.do'

                    ,where: data.field//设定异步数据接口的额外参数
                    //,height: 300
                });
                return false;
            });

            $(document).on("click",".li",function () {
                $.get("/Commodity/commodityById.do?sid="+this.value,function (d) {
                    var e=eval(d);
                    var sid=e.sid;
                    var img=d.imgPath;
                    layer.open({//示范一个公告层
                        type: 1
                        ,title: false //不显示标题栏
                        ,closeBtn: false
                        ,area: '390px;'
                        ,shade: 0.8
                        ,id: 'LAY_layuipro' //设定一个id，防止重复弹出
                        ,btn: ['下载', "关闭"]
                        ,btnAlign: 'c'
                        ,moveType: 1 //拖拽模式，0或者1
                        ,content: '<div style="padding: 50px; line-height: 22px; background-color: #393D49; color: #fff; font-weight: 300;"><img src='+img+' style=" WIDTH:300PX;height:300px;">'
                        ,success: function(layero){
                            var btn = layero.find('.layui-layer-btn');
                            btn.find('.layui-layer-btn0').attr({
                                href: '/Commodity/download.do?sid='+sid
                                ,target: '_blank'
                            });
                        }
                    });
                })
            })

        })
    </script>
    <style>
        /*#lab-file {
            font-size: 12px;
            padding: 5px 30px;
            background: #009688;
            color: #FFF;
            border: none;
            align:center;
        }*/
        /*#uploadImg {
             display: none;
         }*/
        #uploadFile {
            display: none;
        }
    </style>
</head>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit"><i class="layui-icon">&#xe615;</i>修改</a>
    <input type="file" class="layui-btn demoMore" lay-event="test" style="width: 80px" >
    <a class="layui-btn layui-btn-xs" lay-event="detail"><i class="layui-icon">&#xe615;</i>查看供应商</a>
    <input type="file" class="layui-btn file"  lay-event="test1" style="width: 80px" >
    <!--//<input type="file" id="test2" lay-event="test2" >-->
    <!--<button type="file" class="layui-btn" lay-event="text"  class="text" >上传图片</button>  lay-event="test"-->
  <!--  <label for="uploadFile" class="layui-btn layui-btn-sm" lay-event="test"  id="lab-img"><i class="layui-icon">&#xe67c;</i>上传图片</label>-->

  <!--  <label for="uploadFile" class="layui-btn layui-btn-sm "  id="lab-file"><i class="layui-icon">&#xe67c;</i>上传文件</label>
    <input type="file"  lay-event="test2" id="uploadFile"   name="fileUpload">-->
</script>

<script type="text/html" id="img">
    {{#  if(d.imgStatus == 0){}}
    <!--<label for="uploadFile" class="layui-btn layui-btn-sm "  id="lab-file"><i class="layui-icon">&#xe67c;</i>上传文件</label>-->
    <!--<input type="file"  class="layui-btn filess"  value="{{d.sid}}">-->
    <button type="button" class="layui-btn files" value="{{d.sid}}" >未上传图片</button>
    {{#  } else if(d.imgStatus == 1){ }}
    <button type="button" class="layui-btn li" value="{{d.sid}}">已上传</button>
    {{#  } }}
</script>


<script type="text/html" id="toolbarDemo">
    <button class="layui-btn layui-btn-sm" lay-event="add"><i class="layui-icon">&#xe624;</i>添加</button>
    <div style="display: inline-block;">
        <form class="layui-form" action=""style="display: inline-block;" >
            <div class="layui-inline">
                <div class="layui-input-block">
                    <input type="text" id="createTime" name="createTime" required   placeholder="请输入开始时间" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">至</label>
                <div class="layui-input-block">
                    <input type="text " id="createTimes" name="createTimes" required   placeholder="请输入结果时间" autocomplete="off" class="layui-input">
                </div>
            </div>
            <input type="text" style="display:none" id="uid" name="uid">
            <div class="layui-inline">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="formDemo">我的商品</button>
                </div>
            </div>
        </form>
    </div>
</script>
<body>

<table id="demo" lay-filter="test" STYLE=" width: 92px " ></table>
</body>
</html>