<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>采购管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/web/component/layui/css/layui.css" media="all">
    <script type="text/javascript" src="/web/component/js/jquery-3.3.1.min.js" th:src="@{/web/component/js/jquery-3.3.1.min.js}"></script>
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>
<form class="layui-form" action="" lay-filter="example">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">品名</label>
            <div class="layui-input-block">
                <input type="text" name="name" lay-verify="title" autocomplete="off" placeholder="请输入" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">Cas号</label>
            <div class="layui-input-block">
                <input type="text" name="cas" lay-verify="title" autocomplete="off" placeholder="请输入" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">供应商名称</label>
            <div class="layui-input-block">
                <input type="text" name="supplierName" lay-verify="title" autocomplete="off" placeholder="请输入" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn" lay-submit="" lay-filter="formDemo">查询</button>
            </div>
        </div>
    </div>
</form>



<table lay-filter="test" class="layui-hide" id="test"></table>


<script src="/web/component/layui/layui.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->

<script>
    layui.use(["form","table","layer","upload"], function(){
        var table = layui.table;
        var form = layui.form;
        var layer = layui.layer;
        var upload = layui.upload;

        table.render({
            elem: '#test'
            ,url:'/purchase/purchase.do'       //数据接口
            ,page:true
            ,height:'full-20'
            ,limit:20
            ,toolbar: '#toolbarDemo'
            ,defaultToolbar:["filter"]
            ,limits:[10,20,30]
            ,cols: [
                [
                    {field:'cid', title: '编号',width: 100}
                    ,{field:'userId', width:80, title: '业务员',  minWidth: 100}
                    ,{field:'name', width:120, title: '产品名称'}
                    ,{field:'cas', title: 'cas号',width: 95}
                    ,{field:'amount', title: '数量', width: 60}
                    ,{field:'price', title: '单价',width:100} //minWidth：局部定义当前单元格的最小宽度
                    ,{field:'priceStatus', title: '是否含税', width: 90,align: "center", templet: function(d){if(d.priceStatus == 0){return '含税'}else{return '不含税'}}}
                    ,{field:'sumPrice', title: '总价',   width: 80}
                    // ,{field:'status', title: '是否收货',  width: 90 , templet: function(d){if(d.status == 0){return '收货'}else{return '未收货'}} }
                    ,{field:'userName', title: '业务员',  width: 80}
                    ,{field:'supplierName', title: '供应商名称',width: 100}
                    ,{field:'supplierPhone', title: '供应商电话',  width: 120}
                    ,{field:'trackingNumber', title: '物流单号', width: 125}
                    ,{field:'createTime', title: '创建日期',  width: 170}
                    ,{field:'ann', title: '发票',  width: 90 , templet: function(d){if(d.ann == 1){return '未收到'}else{return '已收到'}} }
                    ,{fixed: 'right', width: '8%', align:'center', toolbar: '#dd'}
                ]]
            ,done: function (response) {
                //定位当前table视图
                var tableView = this.elem.next();
                $.each(response.data,function (index,item) {
                    //逻辑判断
                    if(item.priceStatus == 0 && item.ann == 1){
                        //改变TR行颜色和标签内字体颜色
                        tableView.find('tbody tr[data-index="'+ index +'"]').css('background-color','yellow');
                        tableView.find('tbody tr[data-index="'+ index +'"]').css('color','black');
                    }
                })
                }
        });


        form.on('submit(formDemo)', function(data){
            console.log(data.field);
            table.reload('test', {
                url: '/purchase/queryPurchase.do'
                ,where: data.field//设定异步数据接口的额外参数
            });
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });

        //监听表头
        table.on('toolbar(test)',function (obj) {
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            if(layEvent == 'add'){
                layer.open({
                    type: 2,
                    //offset: 'auto',、
                    skin: 'layui-layer-rim',
                    area: ['600px', '500px'],
                    content: '/web/view/purchaseAdd.html?', //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']
                    end:function () {
                        table.reload('test', {
                            url: '/purchase/purchase.do'
                        });
                    }
                });
            }
        });

        //监听行
        table.on('tool(test)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data //获得当前行数据
                ,layEvent = obj.event; //获得 lay-event 对应的值
            if (layEvent === 'getfp'){
                layer.open({
                    type: 1,
                    area: ['250px', '150px'],
                    btn:['确定', '点错了'],
                    content:'  <div align="center">您是否确认收到发票？</div>  ',

                    btn1:function(index, layero) {
                        $.ajax({
                            type:"GET",
                            url: "/purchase/update.do?cid="+data.cid,
                            dataType:"json",
                        });
                        table.reload('test', {
                            url: '/purchase/purchase.do'

                        });
                        layer.closeAll();
                    },
                    btn2:function(index, layero){
                        layer.closeAll();
                    },
                });

            }else if (layEvent ==='up'){
                layer.open({
                    type: 1,
                    area: ['250px', '150px'],
                    btn:['确定', '取消'],
                    content:'  <div align="center">编辑</div>  ',
                    btn2:function(index, layero){
                        layer.closeAll();
                    },
                });

            }

        });



    });


</script>



<style>
    .layui-table-page {
        text-align: center;
    }

</style>



<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="add">添加</button>
    </div>
</script>
<script type="text/html" id="dd">
    {{#  if(d.priceStatus == 0){ }}
    <button class="layui-btn  layui-btn-xs" class="layui-btn"  lay-event="getfp" id="withExport" >已收到发票</button>
    {{#  } else { }}

    {{#  } }}
    <button class="layui-btn  layui-btn-xs" class="layui-btn"  lay-event="up" >添加物流编号</button>
</script>
<script type="text/html" id="supplierName">
    {{#  if(0 == [[${session.userType}]]){ }}
    {{d.supplierName}}
    {{#  } else if(d.userId == [[${session.userId}]]){ }}
    {{d.supplierName}}
    {{#  } else if(d.suid == [[${session.userId}]]){ }}
    {{d.supplierName}}
    {{#  } else { }}
    无权限
    {{#  } }}
</script>
<script type="text/html" id="supplierPhone">
    {{#  if(0 == [[${session.userType}]]){ }}
    {{d.supplierPhone}}
    {{#  } else if(d.userId == [[${session.userId}]]){ }}
    {{d.supplierPhone}}
    {{#  } else if(d.suid == [[${session.userId}]]){ }}
    {{d.supplierPhone}}
    {{#  } else { }}
    无权限
    {{#  } }}
</script>
</body>
</html>