<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" content="text/html;charset=UTF-8" >
    <script type="text/javascript"  src="/web/component/js/jquery-3.3.1.min.js" ></script>
    <title>退货管理</title>
    <link rel="stylesheet" href="/web/component/layui/css/layui.css" media="all">
    <script src="/web/component/layui/layui.js" charset="utf-8"></script>
</head>
<script>
    $(function(){
        $.ajax({
            url: '/login/session',
            type: 'post',
            contentType:"application/json",
            success: function (data) {
                if (data==="0"){
                    //表头
                    sjtable(data);
                }

                if (data==="1"){
                    sjtable(data);
                }
                if (data==="2"){
                    sjtable(data);
                }
            }
        });
    });


    function sjtable(shuju) {
        layui.use('table', function () {
            var table = layui.table;
            var layer =layui.layer;
            table.render({
                elem: '#demo'       //赋值到那个table
                ,height: 'full-20'
                ,url:'/Sales/Saleslist'
                ,where:{userId: shuju}
                ,page:true //开启分页
                ,limit:10
                , id: 'testReload'
                ,toolbar: '#toolbarDemo'
                ,defaultToolbar: ['filter', 'print', 'exports']
                ,cols: [[   //表头
                    {field:'did', title: 'ID', sort: true}
                    ,{field:'userId',title: '业务员id'}
                    ,{field:'orderId', title: '订单编号'}
                    ,{field:'name', title: '商品名称'}
                    ,{field:'trackingName',  title: '物流公司名称'}
                    ,{field:'trackingNumber', title: '物流编号'}
                    ,{field: 'status', title: '状态',hide:true}
                    ,{field:'createTime', title: '创建时间'}
                    ,{fixed:'right', title: '操作',align:'center', toolbar: '#barDemo'}
                ]],done: function (response) {
                    //定位当前table视图
                    var tableView = this.elem.next();
                    $.each(response.data,function (index,item) {
                        //逻辑判断
                        if(item.trackingNumber==0){
                            //改变TR行颜色和标签内字体颜色
                            tableView.find('tbody tr[data-index="'+ index +'"]').css('background-color','yellow');
                            tableView.find('tbody tr[data-index="'+ index +'"]').find('td').data('edit', true);
                        }
                        if(item.status==2){
                            tableView.find('tbody tr[data-index="'+ index +'"]').css('background-color','red');
                        }
                    })
                }
            });
            //头工具栏监听
            table.on('toolbar(test)', function(obj){
                var data = obj.data; //获得当前行数据
                var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
                var tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）

                if(layEvent === 'add'){ //添加
                    layer.open({
                        type: 2
                        ,title:'所有订单'
                        ,content: '/web/view/SalesInsert.html' //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']
                        ,area: ['1200px', '600px']
                        ,end: function(index, layero){
                            location.reload();
                        }
                    });
                }

            });
            //监听工具条
            table.on('tool(test)', function(obj){
                var data = obj.data; //获得当前行数据
                var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
                if(layEvent === 'edit'){ //确认退货
                        layer.prompt({

                            formType:0,//输入框类型，支持0（文本）默认1（密码）2（多行文本）

                            title:'请填写单号（注：必填项）',

                            area:['500px','150px'],

                            btnAlign:'c'

                        },function(value,index,elem){
                            $.ajax({
                                url: '/Sales/updateOrder?did='+data.did+"&trackingNumber="+value,
                                type: 'get',
                                dataType:"json",
                                contentType:"application/json",
                                success: function (data1) {
                                    if (data1=="1"){
                                        layer.msg('修改成功！！！', {
                                            icon: 6,
                                            time: 1000 //2秒关闭（如果不配置，默认是3秒）
                                        }, function(){
                                            table.reload('testReload', {
                                                url:'/Sales/Saleslist'
                                            });
                                        });
                                    }else{
                                        layer.msg('订单编号重复,退货失败！！！', {
                                            icon: 6,
                                            time: 1000 //2秒关闭（如果不配置，默认是3秒）
                                        })
                                    }
                                }
                            });
                            layer.close(index);
                        });

                }
                else if(layEvent === 'del'){ //编辑
                    layer.confirm('确认删除？', function(index){
                        $.post("/Sales/delete",{did:data.did},function (data) {
                            if(data==1){
                                layer.msg('已删除！！！', {
                                    icon: 1,
                                    time: 2000 //1秒关闭（如果不配置，默认是3秒）
                                })
                                table.reload('testReload', {
                                    url: '/Sales/Saleslist'
                                });
                            }else{
                                layer.msg('删除失败！！！', {
                                    time: 1000 //1秒关闭（如果不配置，默认是3秒）
                                })
                            }
                        });
                        layer.close(index);
                    });
                }
            });

            $(document).on("click",'#p12',function () {
                var inputVal = $('.layui-input').val();
                table.reload('testReload', {
                    url: '/Sales/SalesOrderbyid'
                    // ,methods:"post"
                    ,request: {
                        pageName: 'page' //页码的参数名称，默认：page
                        ,limitName: 'limit' //每页数据量的参数名，默认：limit
                    }
                    ,where: {
                        trackingNumber : inputVal
                    }
                    ,page: {
                        curr: 1
                    },done: function (response) {
                        //定位当前table视图
                        var tableView = this.elem.next();

                        $.each(response.data,function (index,item) {
                            //逻辑判断
                            if(item.trackingNumber==0){
                                //改变TR行颜色和标签内字体颜色
                                tableView.find('tbody tr[data-index="'+ index +'"]').css('background-color','yellow');
                            }
                            if(item.status==2){
                                tableView.find('tbody tr[data-index="'+ index +'"]').css('background-color','red');
                            }
                        })
                    }
                });
            });

        });
    }


</script>

<!-- //工具栏-->
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="edit">物流编号</a>
    {{# if(d.type == 2 || d.type==0) { }}
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon">&#xe640;</i>删除</a>
    {{# } }}

</script>

<!--工具栏头模板-->
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="add">添加退货订单</button>
    </div>
    <div class="demoTable" align="center">
        物流编号：
        <div class="layui-inline">
            <input class="layui-input" name="id" id="demoReload" autocomplete="off">
        </div>
        <button class="layui-btn" data-type="reload" id="p12">搜索</button>
    </div>

</script>
<body>

<table class="layui-hide" id="demo" lay-filter="test"></table>
</body>
</html>