<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/web/component/layui/css/layui.css" th:src="@{/web/component/layui/css/layui.css}"  media="all">
    <script type="text/javascript" src="/web/component/js/jquery-3.3.1.min.js" th:src="@{/web/component/js/jquery-3.3.1.min.js}"></script>
    <script src="/web/component/layui/layui.js" th:src="@{/web/component/layui/layui.js}" ></script>
</head>
<script type="text/javascript" >
    layui.use(["form","table","layer","upload"], function() {
        var table = layui.table;
        var form = layui.form;
        var layer = layui.layer;
        var upload = layui.upload;

        //第一个实例
        table.render({
            elem: '#demo'
            , url: '/supplier/supplierInquire.do' //数据接口
            ,page:true
            ,limit:20
            ,toolbar: '#toolbarDemo'
            ,defaultToolbar:["filter"]
            ,limits:[1,3,5]
            , cols: [
                [ //表头
                    {field:'',title:'',type:'checkbox'}
                    ,{title: '序号', sort: true,  templet:"<div>{{ d.LAY_INDEX }}</div>"}
                    , {field: 'userName', title: '业务员'}
                    , {field: 'name', title: '供应商名称', sort: true}
                    , {field: 'phone', title: '电话'}
                    , {field: 'wechat', title: '微信或qq', width: 177}
                    , {field: 'status', title: '状态', sort: true}
                    , {field: 'createTime', title: '创建时间', sort: true}
                ]
            ]
            ,done: function (response) {
                //定位当前table视图
                var tableView = this.elem.next();
                $.each(response.data, function (index, item) {
                    console.log(item.amount);
                    //逻辑判断
                    if (item.status =="0") {
                        //改变TR标签内字体颜色
                        tableView.find('tbody tr[data-index="' + index + '"]').css('background-color', '#FF5722');
                        tableView.find('tbody tr[data-index="' + index + '"]').css('color', '#F0F0F0');
                    }
                })
            }

        })

        function Layui_SetDataTableRowColor(RowIndex, Color) {
           /* var checkStatus = table.checkStatus('demo');
            var data = checkStatus.data;
            var table_main =$("table tr").text();//通过class获取table_main
            console(data);
            if (table_main != null && table_main.length > 0) {
                for(var i=0;i<table_main.length;i++){
                    if(table_main[i].status=="1"){

                    }
                    if (trs != null && trs.length > 0) {
                        trs[RowIndex].style.backgroundColor= Color;
                    }
                }
                var table = table_main[0].getElementsByClassName('layui-table');   //通过class获取table
                if (table != null && table.length > 0) {
                    var trs = table[0].querySelectorAll("tr");
                    if (trs != null && trs.length > 0) {
                        trs[RowIndex].style.backgroundColor= Color;
                    }
                }
            }*/
            /*try
            {
                var div = document.getElementById(DivId);
                if(div != null) //找到对象了
                {
                }
            }
            catch(e)
            {
                console.log(e.message);
            }*/
        }

        //监听表头
        table.on('toolbar(test)',function (obj) {
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）

            if(layEvent === 'add'){
                layer.open({
                    type: 2,
                    //offset: 'auto',、
                    skin: 'layui-layer-rim',
                    area: ['314px', '450px'],
                    content: '/web/view/supplierAdd.html', //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']
                    end:function () {
                        table.reload('demo', {
                            url: '/supplier/supplierInquire.do'
                        });
                    }
                });
            }else if(layEvent === 'delete'){}
        })
    })
</script>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="add"><i class="layui-icon">&#xe624;</i>添加</button>
    </div>
</script>
<body>
<table id="demo" lay-filter="test"></table>
</body>
</html>